/*
 * Style tweaks
 * --------------------------------------------------
 Color and Style Guide:
 
 */


body {
    font-family: 'Bryant', sans-serif;
    color: #313131;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5em;
}

a { color: #0096BE; }


/* Nav Var */

#header_nav { background-color : #555; }
    #header_nav .navbar-brand {
        font-size:32px;
        color: #dfdfdf;
        line-height: 32px;    
    }
#est-stamp { font-size: 14px; }


.brand-title-art {
    color: #ff0099;
    text-transform: lowercase;
}
    .brand-title-art:before {
        content: ' ';
    }

/* Top Rail Welcome Header */
#welcome-header-container { margin-bottom:20px; }
h1#welcome-header {
	background-color:#ffe0f2;
	/* background opacity?*/
	color:#313131;
	text-align:center;
	font-size:65px;
}

/* Panel Defaults */
.panel-header {
    padding:5px;
    padding-left: 20px;
}
.panel-content {
    background-color: #ffffff;
    padding:20px;
}

/* Call Out */
#panel-call-out {
    background-color: #ffffff;
}
    #panel-call-out h2 {
        font-size:30px;
        line-height: 30px;
        background-color: #ff0099;
        color : #fff;
        padding:20px;
    }
    #panel-call-out .panel-content {
        margin-bottom:20px;
    }

    #panel-call-out .bigyo {
        font-size:30px;
    }
        #panel-call-out .bigyo a {
            font-weight: bold;
        }


/* Blurb Text */
#panel-blurb {
    color:#313131;
    margin-bottom:20px;
    font-size:30px;
}
    #panel-blurb h2 {
    	color:#313131;
    	font-weight:bold;
    }
    #panel-blurb p {
        line-height: 1.25em;
    }



/* Closet announcement text */
#panel-closet {
    color:#313131;
    margin-bottom:20px;
    line-height: 1.25em;
}

#panel-closet .panel-content { }

    #panel-closet h2 {
    	color:#313131;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 5px;
        font-weight: bold;
        line-height: 1.25em
    }
    #panel-closet p {
        line-height: 1.25em;
        padding-bottom: .5em;
    }

    #panel-closet .pod-readmore {
        font-weight: bold;
    }

/* Hashtag */
#panel-hashtag {
    background-color: #ff0099;
    margin-bottom: 20px;
}

#panel-hashtag .row {
    margin-right: 0px;
    margin-left: 0px;
}
#panel-hashtag .solid-white {
    padding:20px;
    background-color: #fff;
}

#panel-hashtag .solid-bg {
    padding:20px;
    height: 100%;
    color: #ffffff;
    font-size:30px;
    padding-top:30px;
    text-align:center;
}


/* Signup Bits */
#panel-signup {
    margin-bottom: 20px;
}
#panel-signup p {
    line-height:1.25em;
    margin-top: 5px;
}
#panel-signup .panel-header {    
	background-color:#ffe0f2;
}

#panel-signup .panel-content { }

#panel-contact .panel-content, #panel-social .panel-content {
    margin-bottom:20px;
    font-size:14px;
}



#panel-blog {
    margin-bottom: 20px;
}
#panel-blog .panel-header {    
	background-color:#ffe0f2;
}


/* Form Styles */
form {
    padding-right:5px;
    padding-bottom:5px;
}
form button.btn-default { background-color: #0096BE; color:#fff; font-weight:bold; }
    form button.btn-default:hover { background-color: #2a6496; color:#fff; }


form #id_email::-webkit-input-placeholder { color: #cccccc; }
form #id_email:-moz-placeholder { color: #cccccc; }
form #id_email::-moz-placeholder { color: #cccccc; }
form #id_email:-ms-input-placeholder { color: #cccccc; }

footer {
    padding:10px;
    margin-bottom:20px;
    font-size:12px;
    text-align:right;
    
}

/* Events Panels */
.panel-events .panel-header {
    background-color:#eeeeee;
}
.panel-events .panel-content {
    
}
.panel-events .panel-content ul, .panel-events .panel-content li {
    padding:0px;
    list-style:none;
}

.event {
    margin-bottom:20px;
}
.event span {
    display: block;
}
.event .event-title {
    font-weight:bold;
    line-height: 1.25em;
    padding-bottom: .5em;
}

.event .event-address,  .event .event-time { 
    line-height:1.5em;
}

/*
.event .event-address {
    font-weight:bold;
    font-size:14px;
}
*/

.event .event-venue-name {
    font-color: #000;    
    font-size:14px;
    line-height: 1.45em;
    padding-top:5px;
}

.event .event-address {
    font-color: #000;    
    font-size:14px;
    line-height: 1.45em;
}

.event .event-time {
    font-weight:bold;
    color:#313131;
    font-size:14px;
}

.event .event-descr {
    font-color: #000;    
    font-size:14px;
    line-height: 1.45em;
    padding-top:5px;
}

/* Desktop */

@media screen and (min-width: 400px) {
    body {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    body {
        padding-top: 60px;
        padding-bottom: 15px;
    }

    #est-stamp { display:none; }
    
    h1#welcome-header { font-size: 40px; }
}
@media (max-width:768px) {
    .navbar-header { float:left; }
    .navbar-right { float:right; }
}


#map-canvas {
    height:500px;
    width:100%;
    border: 1px solid green;
}






/* Pods */

.item {
	margin-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card div.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
}
.card div.card-title a { color: #fff; }
.card div.card-title a:hover {
	color: #FF7BC8;
	text-decoration: none;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
  max-width: none;
  width: 100% !important;
}
.card .card-image div.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  width:100%;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  background-color: #fff;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  background-color: #777;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.card div.card-title {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
}


/* Nav Bar Card Bits */
#header_nav_cards { background-color: #000; box-shadow: 0 27px 68px #555; }
    #header_nav_cards .container {
        opacity: 0;
        height:0;
        overflow:hidden;
        transition: opacity .5s ease-in;
        transition: height .5s ease-in;
    }

	.show-nav #header_nav_cards .container {
        opacity: 1;
        transition: opacity .5s ease-in;
        transition: height .5s ease-in;
        height:55px;
        overflow:hidden;
    }

    /* Sidecard */
    .sidecard a {
        background:url(https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/10152433_10154107872845357_9126802419535311414_n.jpg?oh=1ff0dd0512ff5d89f45378c3108de5e9&oe=55166AF7&__gda__=1427244355_579859ab5a0384fddb8afc40e0313d47);
        background-size: cover;
        background-position-y: 33%;
    }



    #slider-thumbs, #slider-thumbs .row {
        margin-right : 0px;
        margin-left : 0px;
    }
	#header_nav_cards .row .row .item, #slider-thumbs .row .item {
		overflow: hidden;
		padding:0px;
		position:relative;
	}

		#header_nav_cards .item a, #slider-thumbs .item a {
			display:block;
			width: 100%;
			background-size: cover;
			background-position-y: 50%;
			z-index : 10;
		}
		#header_nav_cards .item a:hover, #slider-thumbs .item a:hover {
			text-decoration:none;
		}
		#header_nav_cards .item a:hover span, #slider-thumbs .item a:hover span {
			color: #ff0099;
		}
		
		#header_nav_cards .item a span, #slider-thumbs .item a span {
			color:#fff;
			height: 55px;
			width: 55px;
			background-color: #000;
			display:block;
			font-size:10px;
			text-align:center;
			padding-top: 13px;
			z-index: 15;
		}
		#header_nav_cards .item a span:before, #slider-thumbs .item a span:before {
		    content: '';
		    height: 55px;
		    width: 55px;
		    background-color: #000;
		    position: absolute;
		    bottom: 0;
		    left: 55px;
		    transform: skewY(-60deg);
			-webkit-transform: skewY(-60eg);
			  -moz-transform: skewY(-60deg);
			  -ms-transform: skewY(-60deg);
			  -o-transform: skewY(-60deg);
		    transform-origin: left;
			z-index: 14;
		}
		#header_nav_cards .item a  div, #slider-thumbs .item a  div {
			height : 55px;
			width: 100%;
			position:absolute;
			top:0;
			left:0;
			background-color : #fff;
			opacity:.8;
			text-align:center;
			z-index: 14;
			display: none;
		}

		#header_nav_cards .item a:hover  div, #slider-thumbs .item a:hover  div {
			display:block;
		}
		/*
		#header_nav_cards .item a:hover span:before, #header_nav_cards .item a:hover span  {
			display:none;
		}
		*/

		#home-marquee-row .rule {
		    background-color: #555;
		    height: 10px;
            margin-top: 10px;
            margin-bottom: 0px;
            padding-right: 5px;
            padding-left: 5px;
            margin-left: -10px;
            margin-right: -10px;
		}


/* Sliders */

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}







/* Beta Specific styles we can turn off */

body.beta { background-image:url('/static/themes/v0/bg_pink_stripe.jpg'); }
body.beta #header_nav { background-color: #222; }
body.beta .brand-title-art { color: inherit; text-transform: uppercase;}
    body.beta .brand-title-art:before { content: ''; }
