{% extends "base.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3" id="main-content-container">
	<br />
	<div id="panel-signup">
		<div class="panel-header">PRE-LAUNCH ACCESS</div>
		<div class="panel-content">
			<p>Enter your email address for exclusive access to the Beta calendar during its development.</p>

			<form id="email-form" role="form" action="/beta/email/" method="GET">
			  <p class="bg-danger text-danger" style="text-align:center; color:#a94442">{{ error }}</p>
			   <div class="input-group input-group-lg {% if error %}has-error{% endif %}">
				<input type="text" class="form-control" id="id_email" name="email" placeholder="Your email address">

			     <span class="input-group-btn">
			       <button class="btn btn-default" type="submit">Go</button>
			     </span>

			   	</div><!-- /input-group -->
			</form>

		</div>
	</div>
</div>		

{% endblock %}