{% extends "base.html" %}

{% block content %}
	<div class="col-md-6 col-md-offset-3" id="main-content-container">
		<div id="xo-box">
			<h3>Thank You!</h3>
			<p>We're Excited for you to be a part of the new MPLS Art Site</p>
			
			<p class="bg-info" style="text-align:center"><em>{{ email }}</em> has been added. We'll get a hold of you soon.</p>

			
			<p>In the mean time...</p>
			<ul>
				<li>Check out our Facebook Page</li>
				<li>Check out our Facebook Page</li>
				<li>Check out our Facebook Page</li>
				<li>Check out our Facebook Page</li>
			</ul>
			
			</div>
		</div>
		
{% endblock %}