{% extends "base.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3" id="main-content-container">
	<br />
	<div id="panel-signup">
		<div class="panel-header">PRE-LAUNCH ACCESS</div>
		<div class="panel-content">
			<br />
			<p class="bg-info" style="text-align:center"><em>{{ email }}</em> has been added.</p>

			<p><b>Thank You!</b><br />We're excited for you to be a part of the new MPLSART.COM! </p>
			<p>We'll be contacting you within the next few months when the new calendar is ready to test drive. </p>
			<br />



			<div style="border-top:1px dotted silver; padding-top:10px">
				<a href="https://www.facebook.com/mplsart" id="fb-link">  
				          <span class="fa-stack fa-lg">
				          <i class="fa fa-square-o fa-stack-2x"></i>
				          <i class="fa fa-facebook fa-stack-1x"></i>
				          </span>
				     </a>

					<a href="https://twitter.com/mplsart" id="twitter-link">  
					          <span class="fa-stack fa-lg">
					          <i class="fa fa-square-o fa-stack-2x"></i>
					          <i class="fa fa-twitter fa-stack-1x"></i>
					          </span>
					     </a>
					Be sure to follow us on Facebook and Twitter
			</div>


		</div>
	</div>
</div>		

{% endblock %}





	<div class="col-md-6 col-md-offset-3" id="main-content-container">
		<div id="xo-box">
			<h3>Thank You!</h3>
			<p>We're Excited for you to be a part of the new MPLSART.COM Site</p>
			


			
			<p>In the mean time...</p>
			<ul>
				<li>Check out our Facebook Page</li>
				<li>Check out our Facebook Page</li>
				<li>Check out our Facebook Page</li>
				<li>Check out our Facebook Page</li>
			</ul>
			
			</div>
		</div>