<div id="xo-box">
      				<p>After 8 years, it's time for mplsart to say goodbye, we can't 
thank you enough for the support you have provided us over the years.
    				</p>
					<p>We consider ourselves lucky to have been able to provide the 
site for as long as we did, and even luckier to have met so many 
incredible, passionate, and creative people. It's these artists, 
gallerists, and patrons that keep the Twin Cities art scene vibrant.</p>   
    				<h2>XO,<br>
						Emma Berg &amp; Kristoffer Knutson
					</h2>
    

    	<h5>P.S.<br>
    Our friends at <a href="http://www.letoilemagazine.com/whatswhat">l’etoile</a>
 magazine are a great source for what's happening in the twin cities, 
including art openings.  In our absence, we recommend checking in to see
 what they are listing.<br><br>Please contact  info@mplsart.com for more information.</h5>

      
</div>