	<!-- Start Header Row -->
	<div class="row">
  	<div class="col-md-12" id="welcome-header-container">
			<h1 id="welcome-header">
				GOOD NEWS, MINNEAPOLIS
			</h1>
		</div>
	</div>
	<!-- End Header Row -->


<div class="row">

	<!-- Start of main content area -->
  <div class="col-md-6" id="main-content-container">

	<div id="panel-blurb">
		<h2>mplsart is returning!</h2>
		<p>
			The best visual arts calendar in the Twin Cities is coming back.
			Look for a new site this Spring and keep submitting your events to <a href="mailto:calendar@mplsart.com">calendar@mplsart.com</a>
		</p>
	</div><!-- /#pane-blurb -->

	<div id="panel-blog">
		<div class="panel-header">News!</div>
		<div class="panel-content">
			<!-- start -->
			sdfsdf
			<!-- end -->
		</div>
	</div>


	<div id="panel-signup">
		<div class="panel-header">PRE-LAUNCH ACCESS</div>
		<div class="panel-content">
			<p>Enter your email address for exclusive access to the Beta calendar during its development.</p>
				<form id="email-form" role="form" action="/beta/email/" method="GET">
				    <div class="input-group input-group-lg">
				      <input type="text" class="form-control" id="id_email" name="email" placeholder="Your email address">

				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit">Go</button>
				      </span>

				    </div><!-- /input-group -->
				</form>				
		</div>
	</div>
	
	<div id="panel-contact">
		<div class="panel-content"><a href="mailto:calendar@mplsart.com"><b>Contact us</b></a> with questions and to submit event listings.</div>
	</div>

	<div id="panel-social">
		<div class="panel-content">
			
			
			<a href="https://www.facebook.com/mplsart" id="fb-link" target="_new">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x"></i>
				</span>
			</a>

			<a href="https://twitter.com/mplsart" id="twitter-link" target="_new">  
				<span class="fa-stack fa-lg">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x"></i>
				</span>
			</a>
			
			
			
					&nbsp;&nbsp;Stay Connected to mplsart during the rebuild.</div>
	</div>

	

</div><!-- /#main-content-container -->
		<div class="col-md-3 panel-events"><react-component name="TempUpcoming" col_name="'Upcoming" /></div>
		<div class="col-md-3 panel-events"><react-component name="TempEvents" col_name="'Now Showing'"  /></div>
	</div>
</div>

<!-- End of main content area -->


</div><!--/row-->

<footer id="main-content-footer"><p>We love art. We love you. &copy; 2014 mplsart</p></footer>