<!-- Keep this in sync with the directive -->
<div>

<h1 title="MPLS Art |  {[{ pagemeta.title }]}">MPLSART | Welcome</h1>

<!-- Place this data between the <head> tags of your website -->
<title>{[{ pagemeta.title }]}</title>
<meta name="description" content="{[{ pagemeta.description }]}" />

<!-- Google Authorship and Publisher Markup -->
<link rel="author" href="https://plus.google.com/[Google+_Profile]/posts"/>
<link rel="publisher" href=”https://plus.google.com/[Google+_Page_Profile]"/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{[{ pagemeta.title }]}">
<meta itemprop="description" content="{[{ pagemeta.description }]}">
<meta itemprop="image" content="{[{ pagemeta.image }]}">
 
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mplsart">
<meta name="twitter:title" content="{[{ pagemeta.title }]}">
<meta name="twitter:description" content="{[{ pagemeta.description }]}">
<meta name="twitter:creator" content="@mplsart">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{[{ pagemeta.image }]}">

<!-- Open Graph data -->
<meta property="og:title" content="Title Here" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.example.com/" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="Description Here" />
<meta property="og:site_name" content="Site Name, i.e. Moz" />
<meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
<meta property="article:section" content="Article Section" />
<meta property="article:tag" content="Article Tag" />
<meta property="fb:admins" content="Facebook numberic ID" />



  </div>