<!-- container for meta react -->
<div id="page_meta"></div>
	
<meta name="description" content="{[{ pagemeta.description }]}" class="dynamic_meta" />

<!-- Schema.org markup for Google -->
<meta itemprop="name" content="{[{ pagemeta.title }]}" class="dynamic_meta" />
<meta itemprop="description" content="{[{ pagemeta.description }]}" class="dynamic_meta" />
<meta itemprop="image" content="{[{ pagemeta.image }]}" class="dynamic_meta" />
 
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image" class="dynamic_meta" />
<meta name="twitter:site" content="@mplsart" class="dynamic_meta" />
<meta name="twitter:title" content="{[{ pagemeta.title }]}" class="dynamic_meta" />
<meta name="twitter:description" content="{[{ pagemeta.description }]}" class="dynamic_meta" />
<meta name="twitter:creator" content="@mplsart" class="dynamic_meta" />

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{[{ pagemeta.image }]}" class="dynamic_meta" />

<!-- Open Graph data -->
<meta property="og:title" content="{[{ pagemeta.title }]}" class="dynamic_meta" />
<meta property="og:description" content="{[{ pagemeta.description }]}" class="dynamic_meta" />
<meta property="og:image" content="{[{ pagemeta.image }]}" class="dynamic_meta" />
<meta property="og:site_name" content="mplsart.com" class="dynamic_meta" />
