<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/themes/v0/favicon.ico" />

	<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Open Graph and Social Meta -->
	<!-- Note: Page title must be a direct child of HEAD for validation to work -->
    <title>{[{ pagemeta.title }]}</title>

	{% include 'templates/_meta.html' %}

	<!-- fonts -->
	<link href="/static/Bryant2Web/Bryant2Web_WOFF/Bryant.css" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Google Authentication -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="945216243808-b7mu8t6ejidit13uperfiv615lf3ridg.apps.googleusercontent.com">

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="/static/themes/v0/core.css?68" />

	<!-- important bits -->
	<meta name="google-site-verification" content="5rh0RiNkYuPuVOdrIXk4mY4AQ87uS7Ad_ZigdjDNBp0" />

	<!-- News Feeds -->
	<link rel="alternate" type="application/rss+xml" title="MPLSART.COM Articles" href="/written/feed/" />

	<script>
		function onSignIn(googleUser) {
		  var profile = googleUser.getBasicProfile();

		  console.log('ID: ' + profile.getId());
		  console.log('Name: ' + profile.getName());
		  console.log('Image URL: ' + profile.getImageUrl());
		  console.log('Email: ' + profile.getEmail());
		}
	</script>

  </head>

  <body>
		{% include './templates/side_menu.html' %}

		<!-- Start Top Nav -->
		<div id="header_nav" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
		        <div class="navbar-header">
					<a id="side_nav_toggle" class="pull-left" title="Show Menu"><span></span></a>			
		          	<a class="navbar-brand internal-link" href="/" title="MPLSART.COM Home Page">MPLSART.COM</a>
		        </div>

				<p class="navbar-text navbar-right"></p>
				
				<div class="navbar-right" id="nav_utils_container"></div>

			</div><!-- /.container -->

			<div id="header_nav_cards"></div>

		    </div>
		<!-- End Top Nav -->

	<div id="site-wrapper">
		<div id="site-canvas">

			<!-- Start Main Content Container -->
		    <div class="container">

				<div class="g-signin2" data-onsuccess="onSignIn"></div>

				<!-- Start of Primary Page Content -->
				<div id="main_content">
					<div class="initial-loading-spinner"><i class="fa fa-spinner fa-pulse"></i></div>
				</div>
				<!-- End of Primary Page Content -->

		    </div><!--/.container-->
			
		</div><!--/ #site-canvas -->	
	</div><!--/ #site-wrapper -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script>
		var settings = {[{ settings|safe }]};
	</script>

	{% if not no_client %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="/static/js/jquery.mobile-events.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/public/build/main.js?68"></script>
	{% endif %}

	<!-- start google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', '{[{ settings_dict["ga_profile_id"] }]}', {'cookieDomain': 'none' });
	

	</script>
	<!-- end google analytics -->

  </body>
</html>