<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/themes/v0/favicon.ico" />

	<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Open Graph and Social Meta -->
	<!-- Note: Page title must be a direct child of HEAD for validation to work -->
    <title>{[{ pagemeta.title }]}</title>

	{% include 'templates/_meta.html' %}

	<!-- fonts -->
	<link href="/static/Bryant2Web/Bryant2Web_WOFF/Bryant.css" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="/static/themes/v0/core.css?26" />

	<!-- important bits -->
	<meta name="google-site-verification" content="5rh0RiNkYuPuVOdrIXk4mY4AQ87uS7Ad_ZigdjDNBp0" />

	<!-- News Feeds -->
	<link rel="alternate" type="application/rss+xml" title="MPLSART.COM Articles" href="/written/feed/" />

  </head>

  <body class="beta">
		{% include './templates/side_menu.html' %}

		<!-- Start Top Nav -->
		<div id="header_nav" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
		        <div class="navbar-header">
		          <a class="navbar-brand internal-link" href="/" title="MPLSART.COM Home Page"><span class="brand-title-mpls">MPLS</span><span class="brand-title-art">ART.COM</span></a>
		        </div>
		
				<p class="navbar-text navbar-right">
					<button id="side_nav_toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			           <span class="sr-only">Toggle navigation</span>
			           <span class="icon-bar"></span>
			           <span class="icon-bar"></span>
			           <span class="icon-bar"></span>
			         </button>
				</p>
		      </div><!-- /.container -->

			  <div id="header_nav_cards"></div>

		    </div>
		<!-- End Top Nav -->

	<div id="site-wrapper">
		<div id="site-canvas">

			<!-- Start Main Content Container -->
		    <div class="container">

				<!-- Start of Primary Page Content -->
				<div id="main_content">
					<div class="initial-loading-spinner"><i class="fa fa-spinner fa-pulse"></i></div>
				</div>
				<!-- End of Primary Page Content -->

		    </div><!--/.container-->
			
		</div><!--/ #site-canvas -->	
	</div><!--/ #site-wrapper -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	{% if not no_client %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="/static/js/jquery.mobile-events.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/public/build/main.js?26"></script>
	{% endif %}


	<!-- start google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-54271335-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!-- end google analytics -->

  </body>
</html>