<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/static/themes/v0/favicon.ico" />

	<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Open Graph and Social Meta -->
	<!-- Note: Page title must be a direct child of HEAD for validation to work -->
    <title>{[{ pagemeta.title }]}</title>

	{% include 'templates/_meta.html' %}

	<!-- fonts -->
	<link href="/static/Bryant2Web/Bryant2Web_WOFF/Bryant.css" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="/static/themes/v0/core.css?83" />

	<!-- important bits -->
	<meta name="google-site-verification" content="5rh0RiNkYuPuVOdrIXk4mY4AQ87uS7Ad_ZigdjDNBp0" />

	<!-- News Feeds -->
	<link rel="alternate" type="application/rss+xml" title="MPLSART.COM Articles" href="/written/feed/" />

  </head>

  <body>
	  <div id="root">
	  	<div className="initial-loading-spinner"><i className="fa fa-spinner fa-pulse"></i></div>
	  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script>
		var settings = {[{ settings|safe }]};
	</script>


	{% if not no_client %}
        <script src="//www.google-analytics.com/analytics.js"></script>

    <!-- start google analytics -->
    <script>
      ga('create', '{[{ settings_dict["ga_profile_id"] }]}', {'cookieDomain': 'none' });
    </script>
    <!-- end google analytics -->


	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="/static/js/jquery.mobile-events.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/public/build/main.js?83"></script>
	{% endif %}

  </body>
</html>