<!-- Start Side Panel Context Menu -->
<div id="site-menu">

	<!--Include your navigation here-->
	<ul class="list-unstyled main-menu">
		<li><a href="/" data-ga-category="menu-link" class="internal-link">EVENTS<span class="icon"></span></a></li>
		<li><a href="/about/" data-ga-category="menu-link"class="internal-link">ABOUT<span class="icon"></span></a></li>
		<li><a href="/written/" data-ga-category="menu-link"class="internal-link">WRITTEN<span class="icon"></span></a></li>
		<li><a href="mailto:calendar@mplsart.com" data-ga-category="menu-link">calendar@mplsart.com<span class="icon"></span></a></li>
	</ul>
	
	<p class="social-icons">
		<a href="https://www.facebook.com/mplsart" target="_new">
			<i class="fa fa-facebook"></i>
		</a>

		<a href="https://twitter.com/mplsart" target="_new">
			<i class="fa fa-twitter"></i>
		</a>
		
		<a href="http://instagram.com/mplsart" target="_new">
			<i class="fa fa-instagram"></i>
		</a>
	</p>



	<p>Est. 2005<br />
		We love art. We love you.<br />
		&copy; 2015 MPLSART.COM
	</p>





</div><!--/ #site-menu -->
<!-- End Side Panel Context Menu -->